body {
  padding: 50px;
  width: 900px;
  margin: 0;
  display: inline-block;
  background-color: lightblue;
}
.pizza_nav{
  text-align: center;
}
.pizza_nav > ul > li {
  width: 100px;
  margin: 0;
  display: inline-block;
  font-size: 20px;

}
.orderButtons {
  margin: 0;
  float: center;
  width:200px;
  display: inline-block;

}
.pizzaSize{
  font-size: 20px;
}
.pizzaToppings{
  font-size: 20px;
}
.jumbotrom{
  color: darkgreen;
}
.header {
    color: darkgreen;
    font-size: 40px;
    text-align: center;
}
.item{
    font-size: 20px;
}
