
<div class="container">
  <form>
    <div class="pizzaSize">
      <h1 class="jumbotrom">Select Pizza Size:</h1>
      <div ng-repeat="size in menu.pizzaSizes">
        <input type="radio" name="size" value="{{size}}" ng-model="$parent.pizzaSize">{{size}}
      </div>
    </div>
    <br>
    <div class="pizzaToppings">
      <h1 class="jumbotrom">Select your topping:</h1>

      <div ng-repeat="topping in menu.pizzaToppings">
      <input type="radio" name="topping" value="{{topping}}" ng-model="$parent.pizzaTopping">{{topping}}
      </div>
    </div>
    <button type="button" name="button" class="btn btn-success btn-lg" ng-click="menu.submit(pizzaSize,pizzaTopping)">Add Pizza</button>
  </form>
</div>
