
<div class="container">
  <form>
    <div class="pizzaSize">
      <h2>Select Pizza Size:</h2>
      <div ng-repeat="size in menu.pizzaSizes">
        <input type="radio" name="size" value="{{size}}" ng-model="$parent.pizzaSize">{{size}}
      </div>
    </div>
    <br>
    <div class="pizzaToppings">
      <h2>Select your topping:</h2>

      <div ng-repeat="topping in menu.pizzaToppings">
        <input type="radio" name="topping" value="{{topping}}" ng-model="$parent.pizzaTopping">{{topping}}
      </div>
    </div>
    <button type="button" ng-click="menu.submit(pizzaSize,pizzaTopping)">Submit</button>
  </form>
</div>
