<div class="container">
  <div class="orders">
    <div ng-repeat="pizzaOrder in order.pizzaOrderObject.orders track by $index">
      <div class="item">
          <span><i>size: </i>{{pizzaOrder.size}}</span>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span><i>topping: </i>{{pizzaOrder.topping}}</span>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span><i>price: </i>{{pizzaOrder.price}}</span>

      </div>
      <div class="orderButtons">
        <button type="button" name="button" class="btn btn-default btn-lg" ng-click="order.confirm(pizzaOrder)">Confirm</button>
        <button type="button" name="button" class="btn btn-default btn-lg" ng-click="order.remove(pizzaOrder)">Delete</button>

      </div>

    </div>
    <div>
      <button type="button" name="button" class="btn btn-success btn-lg" ng-click="order.confirmAll()">Confirm All</button>
    </div>
  </div>
</div>
